.author-photos {
  width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2;
  margin-top: 17px;
  text-align: left;
}

.author-photos__author-name {
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding-top: 21px;
  padding-left: 15px;
}

.author-photos__time-ago {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
}


.author-photos__author-text {
  @include mfont-article;
  padding-left: 20px;
  text-align: left;
  margin: 0;
}

.author-photos__likes-text {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  padding-left: 50px;
  padding-top: 9px;
}

.author-photos__photo {
  min-height: 180px;
  width: 280px;
}



@media (max-width: $tablet-width) {

 .author-photos {
      &:nth-of-type(1) {
        min-height: 323px;
      }
      &:nth-of-type(2) {
        min-height: 301px;
      }
      &:nth-of-type(3) {
        min-height: 323px;
      }
      &:nth-of-type(4) {
        min-height: 301px;
        margin-top: 22px;
      }
      &:nth-of-type(5) {
        min-height: 301px;
        margin-top: 22px;
      }
      &:nth-of-type(6) {
        min-height: 301px;
        margin-top: 22px;
      }
    }


.author-photos__photo {
    &:nth-of-type(1) {
      height: 181px;
    }
    &:nth-of-type(2) {
      height: 181px;
    }
    &:nth-of-type(3) {
      height: 181px;
    }
    &:nth-of-type(4) {
      height: 181px;
    }
    &:nth-of-type(5) {
      height: 181px;
    }
    &:nth-of-type(6) {
      height: 181px;
    }
  }
}

@media (min-width: $tablet-width) {

.author-photos__likes-text {
  padding-top: 38px;
  padding-left: 27px;
}

  .author-photos__photo {
    height: 300px;
    width: 300px;
  }
  .author-photos__author-text {
    padding-left: 25px;
    width: 257px;
  }
  .author-photos__author-name {
    padding-left: 25px;
    padding-top: 26px;
  }
  .author-photos {
    margin: 0;
    margin-top: 20px;
    &:nth-of-type(1) {
      & .author-photos__likes-text {
        padding-top: 17px;
      }
    }
    &:nth-of-type(3) {
      & .author-photos__likes-text {
        padding-top: 17px;
      }
    }
  }
}

@media (min-width: $desktop-width) {

}
