.author-photo {
  width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2;
  margin-top: 17px;
  text-align: left;
  &--day-photo {
    width: 320px;
    min-height: 335px;
    margin-top: 0;
    background-color: #ffffff;
  }
  &__day-wrap {
    width: 280px;
    background-color: #f2f2f2;
    margin: 0 auto;
    min-height: 188px;
  }
}

.author-photo__author-name {
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding-top: 21px;
  padding-left: 15px;
}

.author-photo__time-ago {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
}


.author-photo__author-text {
  @include mfont-article;
  padding-left: 20px;
  text-align: left;
  margin: 0;
}

.author-photo__likes-text {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  padding-left: 50px;
  padding-top: 9px;
}

.author-photo__photo {
  min-height: 180px;
  width: 280px;
}

.author-photo__panoram {
  min-height: 135px;
  width: 100%;
}

@media (max-width: $tablet-width) {
  .author-photo__likes-text--mobhiden {
    display: none;
  }
  .photos__small-photos {
    & .author-photo {
      &:nth-of-type(1) {
        min-height: 323px;
      }
      &:nth-of-type(2) {
        min-height: 301px;
      }
      &:nth-of-type(3) {
        min-height: 323px;
      }
      &:nth-of-type(4) {
        min-height: 301px;
        margin-top: 22px;
      }
      &:nth-of-type(5) {
        min-height: 301px;
        margin-top: 22px;
      }
      &:nth-of-type(6) {
        min-height: 301px;
        margin-top: 22px;
      }
    }
  }

  & .author-photo__photo {
    &:nth-of-type(1) {
      height: 181px;
    }
    &:nth-of-type(2) {
      height: 181px;
    }
    &:nth-of-type(3) {
      height: 181px;
    }
    &:nth-of-type(4) {
      height: 181px;
    }
    &:nth-of-type(5) {
      height: 181px;
    }
    &:nth-of-type(6) {
      height: 181px;
    }
  }
}

@media (min-width: $tablet-width) {
  .author-photo--day-photo {
    width: 100%;
    min-height: 510px;
  }
  .author-photo__panoram {
    height: 510px;
  }
  .author-photo__day-wrap {
    width: 620px;
    min-height: 115px;
    & .author-photo__likes-text {
      display: inline-block;
      padding-left: 300px;
    }
    & .author-photo__likes-text--tabhiden {
      display: none;
    }
  }
  .author-photo__likes-text--tabhiden {
    display: none;
  }
  .author-photo__photo {
    height: 300px;
    width: 300px;
  }
  .author-photo__author-text {
    padding-left: 25px;
  }
  .author-photo__author-name {
    padding-left: 25px;
  }
  .author-photo {
    margin: 0; // margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .author-photo--day-photo {
    height: 510px;
  }
  .author-photo__panoram {
    height: 506px;
     width: 1200px;
     margin-left: -120px;

  }
  .author-photo__day-wrap {
    width: 620px;
    min-height: 96px;
  }
  .author-photo__day-wrap {
    width: 940px;
  }
  .author-photo__day-wrap {
    & .author-photo__likes-text {
      padding-left: 618px;
    }
  }
}
