.button-submit {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  height: 62px;
  border: none;
  background-color: #2aab6d;
  color: #ffffff;
  border-radius: 3px;
}
