.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #ffffff;
  padding: 13px 35px;
  width: 289px;
  border-top-left-radius: 50px 50px; // верхний левый угол
  border-top-right-radius: 50px 50px; // верхний правый угол
  border-bottom-right-radius: 50px 50px; // нижний правый угол
  border-bottom-left-radius: 50px 50px; // нижний левый угол
  &--pink {
    border-color: #d22856;
    color: #d22856;
    background-color: transparent;
  }
  &--transparent {
    border-color: #dddfe0;
    color: #dddfe0;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding-left: 10px;
    padding-right: 10px;
    width: 260px;
  }
}
@media (min-width: $desktop-width) {
  .button {
    height: 50px;
    text-align: center;
  }
}
