.button-submit {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  width: 280px;
  height: 62px;
  border: none;
  background-color: #2aab6d;
  color: #ffffff;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .button-submit {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .button-submit {
    width: 260px;
  }
}
