.download {
  background-color: $background-small;
  background-image: $main-image;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  box-shadow: $shadow1;
  margin: 0 auto;
  width: 320px;
  min-height: 665px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.download__item {
  width: 70px;
  height: 70px;
}

.download__button-wrap {
  // display: block;
  margin: 0 auto;
  padding-top: 50px;
  // margin-top: 40px;
}

.download__availability-text {
  @include mfont-article;
  padding-top: 12px;
  margin: 0 auto;
  width: 280px;
  text-align: center;
  font-weight: 300;
}

.download__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 45px;
}

.download__wrap {
  // padding-bottom: 20px;
  min-height: 272px;
  background-color: #1d2631;
}

@media (min-width: $tablet-width) {
  .download {
    width: 660px;
    min-height: 620px;
    display: flex;
    flex-direction: row-reverse;
  }
  // .download__promo {
  //   width: 300px;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   margin-left: 10px;
  //   margin-right: 20px;
  // }
  .download__mobile-hidden {
    padding-right: 14px;
    width: 230px;
    align-self: center;
    padding-bottom: 30px;
    &::before {
      content: "Взгляните на жизнь иначе!";
      font-size: 40px;
      line-height: 48px;
      font-weight: 300;
    }
  }
  .download__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: transparent;
    padding-top: 75px;
    margin-left: 15px;
  }
  .download__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    & .download__item {
      margin: 0 5px;
      padding-top: 15px;
    }
  }
  .download__button-wrap {
    padding-top: 16px;
    // pading-left: 90px;
    // margin-left: px;
  }
  .download__button {
    padding-left: 45px;
    padding-right: 45px;
  }
  .download__availability-text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    width: 300px;
    font-weight: 300;

  }
}

@media (min-width: $desktop-width) {
  .download {
    position: relative;
    width: 100%;
    min-height: 853px;
    justify-content: center;
    background-image: $main-image;
    background-size: 100%;
    margin-top: -110px;
    z-index: 1;
    // outline: 10px solid #ffffff;
  }
  .download__wrap {
    width: 380px;
    margin-top: 125px;
    margin-left: 0px;
    padding-right: 80px;
  }
  .download__promo {
    // background-image: none;
  }
  .download__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    // z-index: 2;
  }
  .download__button {
    height: 55px;
    font-size: 21px;
    padding-left: 25px;
    padding-right: 25px;
    // margin-top: 500px;
  }
  .download__mobile-hidden {
    &::before {
      content: "Взгляните на жизнь иначе!";
      font-size: 50px;
      line-height: 60px;
      display: block;
      padding-bottom: 26px;
      // letter-spacing: 0.1px;
      // word-spacing: 1.1px;
    }
  }
  .download__list {
    padding-top: 65px;
    padding-bottom: 20px;
  }
}
