.features {
box-shadow: $shadow2;
}

.features__effect-wrap {
  display: none;
}

.features__list {
  @include list-reset;
}

.features__item {
  list-style-type: none;
}

.features__slogan {
  font-size: 24px;
  line-height: 30px;
}

.features__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.features__phone-pic {
  display: block;
  height: 485px;
  width: 255px;
  margin-right: auto;
  margin-left: auto;
}

.features__phone-pic--hidden {
    display: none;
}


@media (min-width: $tablet-width) {
  .features {
    width: $tablet-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .features__wrap {
    display: flex;
  }
  .features__phone-pic {
    order: 1;
    width: 300px;
  }
  .features__list {
    order: 2;
    width: 320px;
  }
  .features__effect-wrap {
    display: flex;
    min-height: 400px;
    background-color: #f2f2f2;
  }
  .features__phone-pic {
    width: 320px;
    height: 290px;
  }
  .features__wrap-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 940px;
  }
  .features__phone-pic--hidden {
    display: inline;
  }
  .features__wrap {
    display: flex;
    flex-direction: column;
  }
  .features__phone-pic {
    width: 200px;
    display: block;
  }
  .features__list {
    display: flex;
    width: 940px;
    height: 220px;
  }
  .features__phone-wrap {
    display: flex;
  }
  .features__wrap-text {
    width: 550px;
  }
  .features__timer-pic {
    width: 370px;
  }
}

