.features {
  box-shadow: $shadow2;
  margin: 0 auto;
  width: 320px;
  min-height: 1000px;
}

.features__text {
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  padding-top: 15px;
}

.features__effect-wrap {
  display: none;
}

.features__list {
  @include list-reset;
}

.features__item {
  list-style-type: none;
  // padding-top: 110px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
  padding-bottom: 29px;
}

.features__slogan {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 40px;
  &:nth-of-type(2) {
    padding-top: 28px;
    padding-bottom: 110px;
  }
}

.features__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  margin: 0 auto;

}

.features__phone-pic {
  display: block;
  // height: 485px;
  width: 255px;
  margin-right: auto;
  margin-left: auto;
}

.features__phone-pic--hidden {
  display: none;
}


@media (min-width: $tablet-width) {
  .features {
    width: 660px;
    min-height: 1155px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .features__wrap {
    display: flex;
  }
  .features__phone-pic {
    order: 1;
    width: 300px;
    // margin: 0;
  }
  .features__list {
    order: 2;
    width: 320px;
    padding-top: 0;
  }
  .features__item {
    padding-left: 0px;
    padding-bottom: 40px;
    width: 320px;
    margin: 0;
    padding-right: 30px;
  }
  .features__name {
    padding-bottom: 20px;
  }
  // .features__text {
  //  width: 290px;
  //  // display: block;
  // }
  .features__effect-wrap {
    display: flex;
    min-height: 400px;
    background-color: #f2f2f2;
  }
  .features__effect-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    width: 170px;
    padding-top: 53px;
    margin-bottom: 10px;
    // padding-bottom: 0px;
  }
  .features__effect-text {
    font-size: 14px;
    line-height: 24px;
    padding-top: 0px;
    margin-top: 0;
    // float: right;
    // letter-spacing: 0.3px;
  }
  // .features__phone-pic {
  //   width: 320px;
  //   height: 290px;
  // }
  .features__wrap-text {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: 310px;
    text-align: left;
    // margin-left: 24px;
    // margin-right: 20px;
    padding-top: 15px;
    margin-left: 320px;
  }
  .features__slogan {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
    padding-top: 48px;
    &:nth-of-type(2) {
      width: 360px;
      margin: 0 auto;
      margin-bottom: 17px;
      padding-top: 0px;
    }
  }
  .features__effect-link {
    color: #d22856;
    line-height: 24px;
    font-size: 14px;
  }
  .features__name {
    line-height: 10px;
    text-align: left;
    // padding-left: 20px;
  }
  .features__text {
    text-align: left;
    width: 310px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 1px;
    // letter-spacing: 0.3px;
    }
  .features__timer-pic {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 100%;
    min-height: 1000px;
  }
  .features__wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 600px;
  }
  .features__slogan-block {
    width: 100%;
    padding-top: 15px;
    // padding-bottom: 40px;
    margin-bottom: 0;
  }
  .features__phone-pic {
    display: none;
  }
  .features__list {
    display: flex;
    width: 940px;
    height: 220px;
  }
  .features__name {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 240px;
    padding-bottom: 25px;
    padding-left: 5px;
  }
  .features__item {
    margin: 0 auto;
    padding-top: 0;
    &:nth-of-type(1) {
      padding-left: 12px;
      padding-right: 20px;
      &::before {
        content: " ";
        background-image: url("https://image.ibb.co/c0ZMbx/1524546848176425783.jpg");
        width: 190px;
        height: 310px;
        display: block;
        margin: 0 auto;
        background-size: 100% 100%;
      }
    }
    &:nth-of-type(2) {
      padding-left: 35px;
      &::before {
        content: " ";
        background-image: url("https://image.ibb.co/c0ZMbx/1524546848176425783.jpg");
        width: 190px;
        height: 310px;
        display: block;
        margin: 0 auto;
        background-size: 100% 100%;
      }
      & .features__text {
        padding-left: 7px;
      }
    }
    &:nth-of-type(3) {
      padding-left: 45px;
      &::before {
        content: " ";
        background-image: url("https://image.ibb.co/c0ZMbx/1524546848176425783.jpg");
        width: 190px;
        height: 310px;
        display: block;
        margin: 0 auto;
        background-size: 100% 100%;
      }
    }
  }
  .features__phone-wrap {
    display: flex;
  }
  .features__wrap-text {
    width: 570px;
    padding-left: 5px;
    margin-left: 362px;
    padding-top: 40px;
    & br {
      display: none;
    }
  }
  .features__timer-pic {
    width: 370px;
  }
  .features__text {
    width: 260px;
    font-size: 18px;
    line-height: 30px;
    width: 243px;
    text-align: center;
    &:nth-of-type(2) {
      width: 248px;
    }
  }
  .features__slogan {
    width: 100%;
    margin: 0 auto;
    font-size: 50px;
    line-height: 68px;
    // margin-bottom: 10px;
    &:nth-of-type(2) {
      width: 450px;
      margin: 0 auto;
      // margin-bottom: 30px;
      margin-top: -10px;
      padding-bottom: 111px;
    }
  }
  .features__effect-title {
    width: 420px;
    margin-top: 0;
    padding-top: 34px;
  }
  .features__effect-text {
    font-size: 18px;
    line-height: 30px;
    width: 530px;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 0;
  }
  .features__effect-link {
    font-size: 18px;
    line-height: 30px;
    // letter-spacing: 0.3px;
  }
  .features__designer-nerd {
    display: inline-block;
    padding-right: 10px;
  }
}
