.main-nav {
  background-color: $background-small;
  height: 324px;
  width: 320px;
}

.main-nav__toggle {
  margin-left: 70%;
}

.main-nav__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: $tablet-width;
  }
  .main-nav__list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

}

