.page-header {
  box-shadow: $shadow2;
  background-color: $background-small;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo-image {
  display: block;
  width: 150px;
  height: 60px;
  // margin-left: 10%;
  margin-bottom: -40px;
}

.page-header__container {
  min-height: 325px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
    margin: 0 auto;
  }
  .page-header__container {
    min-height: 365px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 100%;
    min-height: 110px;
    background-color: $background-small;
    position: relative;
    z-index: 2;
    opacity: 0.5;
  }
  .page-header--photos {
    width: 100%;
  }
  .page-header__container {
    position: relative;
  }
  .page-header__logo-image {
    position: absolute;
    // left: 1px;
    margin-left: 0;
    top: 10px;
  }
  .page-header__container {
    min-height: 110px;
  }
}
