.page-header {
  box-shadow: $shadow2;
  background-color: $background-small;
  min-width: 320px;
}

.page-header__logo-image {
  display: block;
  margin-left: 10%;
  margin-bottom: -30px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 940px;
    height: 110px;
  }
}

