.photos__text {
  line-height: 30px;
  box-shadow: $shadow1;
}

.photos__wrapper {
  box-shadow: $shadow2;
}

@media (min-width: $tablet-width) {
  .photos__text {
  min-height: 230px;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 50px;
  }
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .photos__wrapper {
    width: 300px;
    height: 454px;
      &:first-of-type {
        width: 660px;
        height: 630px;
     }
  }
}

@media (min-width: $desktop-width) {
  .photos {
    width: 940px;
    @include margin-auto;
  }
  .photos__wrapper {
    width: 300px;
    height: 560px;
      &:first-of-type {
        width: 940px;
        height: 630px;
     }
     .photos__text {
      padding: 0px;
     }
   }
}
