.promo {
  height: 238px;
  background-image: $main-image;
  box-shadow: $shadow3;
}

.promo__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #ffffff;
  padding-top: 30px;
  margin-top: 0px;
}

@media (min-width: $tablet-width) {
  .promo__title {
    width: 620px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 940px;
  }
  .promo__title {
    margin: 0 auto;
  }
}

