.promo {
  background-image: $main-image;
  height: 238px;
}

.promo__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #ffffff;
  padding-top: 30px;
  margin-top: 0px;
}
