.promo {
  min-height: 173px;
  background-image: $main-image;
  box-shadow: $shadow3;
  margin: 0 auto;
  width: 320px;
}

.promo__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #ffffff;
  padding-top: 30px;
  margin-top: 0px;
  font-weight: 300;
  width: 280px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 660px;
  }

  .promo__title {
    font-size: 50px;
    line-height: 60px;
    width: 620px;
    margin: 0 auto;
    padding-top: 172px;
  }
  .promo__title--photos {
    min-height: 330px;
    padding-top: 68px;
    // margin-top: -110px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 100%;
  }
  .promo__title {
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
  }
  .promo--form {
  min-height: 390px;
  margin-top: -110px;
  }
  .promo__title--photos {
    min-height: 395px;
    margin-top: -109px;
  }

}
