.review {
  box-shadow: $shadow1;
  @include padding-mobile;
}

.review__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.review__text {
  font-size: 14px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .review {
    width: 660px;
  }
  .review__wrap {
    display: flex;
    flex-direction: column;
  }
  .review__author {
    order: 2;
  }
  .review__text {
    order: 1;
  }
  .review__slider {
    order: 3;
  }
}
