.site-list__item {
  height: 64px;
  padding-top: 25px;
  & a {
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    padding-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    & a {
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      text-transform: none;
      font-weight: regular;
    }
  }
  .site-list {
    padding-top: 18px;
    padding-left: 39px;
  }
}
