
body {
  font-family: $font;
  color: $base-color;
  background-color: $background;
  text-align: center;
  max-width: $mobile-width;
  margin-left: auto;
  margin-right: auto;
}

  .visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 ;
  border:0 ;
  height: 1px ;
  width: 1px ;
  overflow: hidden;
}
